body {
    font-family: Georgia, "Times New Roman", serif;
    margin: 20px;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}


label {
    font-size: 20px;
    margin-right: 5px;
}

input {
    padding: 8px;
    margin-right: 15px;
    font-size: 16px;
}
table  {
    width: 80%;
    border-collapse: collapse;
    border: 1px solid #1d1b1b;
    margin-top: 20px;
}



th, td {
    border: 1px solid #1d1b1b;
    padding: 10px;
  
    text-align: left;
} 
tr:hover {background-color: rgb(140, 222, 139);}

button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
}
 
button:hover {
    background-color: #add8e6;
}